* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'sangbleu_sans';
    src: url('../fonts/SangBleuSans-Regular.woff2') format('woff2'),
        url('../fonts/SangBleuSans-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sangbleu_sans';
    src: url('../fonts/SangBleuSunrise-Medium.woff2') format('woff2'),
        url('../fonts/SangBleuSunrise-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sangbleu_sans';
    src: url('../fonts/SangBleuSans-Bold.woff2') format('woff2'),
        url('../fonts/SangBleuSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ttnorms';
    src: url('../fonts/TTNorms-Regular.woff2') format('woff2'),
        url('../fonts/TTNorms-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ttnorms';
    src: url('../fonts/TTNorms-Medium.woff2') format('woff2'),
        url('../fonts/TTNorms-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ttnorms';
    src: url('../fonts/TTNorms-Bold.woff2') format('woff2'),
        url('../fonts/TTNorms-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}