$logo-height: 48px;
$navigation-spacing: $spacer*6;
$font-size-base-alt: .75rem;

@import "vendor/bootstrap/overrides";

@import "parts/burger";
@import "parts/brand-close";
@import "parts/navigation";
@import "parts/mgo-filter";
@import "parts/social-float";

*.focus,
*:focus {
    outline: 0;
    box-shadow: none;
}

body {
    letter-spacing: -.025rem;
}

#main-content {
    padding-top: $logo-height + $navigation-spacing;
}

.font-ttnorms {
    font-family: 'ttnorms', Arial, sans-serif;
}

.btn {
    text-transform: uppercase;
}

.btn-link {
    text-transform: inherit;
    font-size: inherit;
    font-weight: 500;
    text-decoration: underline;
}

.btn-nav {
    padding: $spacer*.75 $spacer;
    @include media-breakpoint-up(lg) {
        padding: $spacer $spacer*1.5;
    }
}

.hover-underline {
    &:hover {
        text-decoration: underline !important;
    }

    &-remove:hover {
        text-decoration: none !important;
    }
}

.a {
    &-clean {
        &:hover {
            color: inherit !important;
        }
    }
}

.spacer {
    display: inline-block;
    width: 10px;
}

.translate-m50 {
    transform: translateY(-50%);
}

.font-brand-alt {
    font-family: 'ttnorms', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.font-brand-alt-1 {
    font-size: $font-size-base-alt;
    font-weight: 700;
}

.font-brand-alt-2 {
    font-size: 1.1rem;
    font-weight: 500;
}

.rounded-top-lg {
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
}

.dotted-line-h {
    //border-top: 1px dotted $primary;
    /* horizontal */
    background-image: linear-gradient(to right, $primary 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 4px 1.5px;
    background-repeat: repeat-x;
    height: 1px;
}

.dotted-line-v {
    //border-left: 1px dotted $primary;
    /* vertical */
    background-image: linear-gradient($primary 33%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 1px 4.5px;
    background-repeat: repeat-y;
    width: 2px;
}

.border-2 {
    border-width: 1.5px !important;
}

.input-simple {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: $primary;

    font-size: $font-size-base-alt;
    font-family: 'ttnorms', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    outline: none;
}

.slider,
#results {
    margin: 0 -10px 0 -10px;

    .item,
    .result {
        padding: 0 10px 0 10px;
    }
}

.display {
    letter-spacing: -.1rem;
}

#results {

    @include media-breakpoint-up(lg) {

        .slick-current .item,
        .slick-current+.slick-active .item {
            background-image: linear-gradient($primary 33%, rgba(255, 255, 255, 0) 0%);
            background-position: right;
            background-size: 1px 4.5px;
            background-repeat: repeat-y;
        }
    }

    .result {
        @include media-breakpoint-up(lg) {
            background-image: linear-gradient($primary 33%, rgba(255, 255, 255, 0) 0%);
            background-position: right;
            background-size: 1px 4.5px;
            background-repeat: repeat-y;
        }

        .result-inner-wrapper {
            background-image: linear-gradient(to right, $primary 33%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 4px 1.5px;
            background-repeat: repeat-x;

            @include media-breakpoint-up(lg) {
                background: none;
            }
        }
    }

    .result-wrapper:nth-child(3n) .result {
        @include media-breakpoint-up(lg) {
            background: none;
        }
    }
}

.property {
    .image {
        background: $gray;
        background-size: cover;
        background-position: center center;

        img {
            opacity: 0;
        }
    }
}


#footer {
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: inherit;
    }
}

#product-specs {
    line-height: 2.1;
    #product-tags {
        line-height: 1.7;
    }
}

.arrow-up {
    height: 40px;
    width: 0px;
    margin: 0 auto;
    border-left: 1.5px solid $primary;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;

    &:before {
        position: absolute;
        top: -1px;
        left: -1.5px;
        display: block;
        content: '';
        height: 20px;
        width: 20px;
        border-top: 1.5px solid $primary;
        border-left: 3px solid $primary;
        transform: rotate(45deg);
        transform-origin: 0% 0%;
    }
}


#full-search {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 0%;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
    transition: $transition-base;

    &.active {
        opacity: 1;
        height: 100%;
    }
}


.promo-num {
    padding-top: $spacer;
    background-image: url("../images/imago.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 85px;
    text-align: center;
}

.border-lg-top {
    @include media-breakpoint-up(lg) {
        border-top: 1px;
        border-style: solid;
    }
}

.border-lg-left {
    @include media-breakpoint-up(lg) {
        border-bottom: 0;
        border-right: 0;
        border-top: 0;
        border-left: 1px;
        border-style: solid;
    }
}

.circle-outline {
    border: 1px solid $primary;
    border-radius: 140px;
    height: 140px;
    width: 140px;
    .inner-text {
        position: absolute;
        top: 49%;
        width: 140px;
        transform: translateY(-51%);
        line-height: 1.25;
    }

    .ml-auto.inner-text {
        .inner-text {
            left: 50%;
        }
    }

    .mr-auto.inner-text {
        .inner-text {
            right: 45%;
        }  
    }
}

.t-m20 {
    transform: translateY(-20px);
    @include media-breakpoint-up(lg) {
        transform: none;
    }
}

.container-only-lg {
    @include media-breakpoint-down(lg) {
        padding: 0;
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        width: 992px + $spacer*2;
        padding: 0 $spacer*2;
        margin: 0 auto;
    }
}

.responsive-margin-1 {
    margin-top: 0;

    @include media-breakpoint-up(lg) {
        margin-top: -143.5px;
    } 

    @include media-breakpoint-up(lg) {
        margin-top: -173px;
    } 
}

.responsive-bg-image-1 {
    background-image: url("~/images/lens-sm.jpg");
    background-repeat: no-repeat;
    background-position: center bottom; 
    background-size: contain;
    @include media-breakpoint-up(lg) {
        background-image: url("~/images/lens-lg.jpg");
        background-position: right top; 

    } 
}

#mapa {
    position: relative;
    overflow: hidden;
    height: 400px;
    @include media-breakpoint-up(lg) {
        height: auto;
    }
    img {
        position: absolute;
        left: 50%;
        height: 100%;
        object-fit: cover;
        transform: translateX(-50%);
    }
    @include media-breakpoint-up(lg) {
        overflow: initial;
        img {
            position: relative;
            width: 100%;
            height: auto;
            left: auto;
            top: auto;
            transform: none;
        }
    }

    .marker {
        display: block;
        background-image: url('../images/marker.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 65px;
        width: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -40px;
        margin-top: -20px;
    }

    .label {
        position: absolute;
        left: 55%;
        top: 50%;
    }
}

#slider-images-nav {
    .slick-slide {
        opacity: .5;
    }
    .slick-slide.slick-current.slick-active {
        opacity: 1;
    }
}
