.brand-close {
    position: relative;
    transition: $transition-base;
    left: calc(50% - ($burger-height / 2));
    display: block;
    outline: none;
    height: $burger-height;
    width: $burger-height;
    border: 0px;
    padding: 0px;
    background: transparent;
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        width: $burger-height;
        height: $border-width;
        position: absolute;
        background: $primary;
        transition: $transition-base;
        will-change: transform;
        top: 50%;
        left: 0;
    }

    &:before {
        transform: translateY(0) rotate(45deg);
    }

    &:after {
        transform: translateY(0) rotate(-45deg);
        height: 1px;
    }
}