$burger-height: 44px;
$border-width: 3px;

#burger-toggler-triggerer {
    cursor: pointer;
    width: $burger-height;
    height: $burger-height;
    display: block;
    position: relative;
    margin-right: 0;
    margin-left: auto;

    .label {
        transition: $transition-base;
        transform: translateY($burger-height / 2) translateX(-50%);
        opacity: 1;
        display: block;
        position: absolute;
        top: 0;
        width: $burger-height * 2;
        left: 50%;
        & + .label {
            opacity: 0;
        }
    }
}

.burger {
    transition: $transition-base;
    position: absolute;
    top: 0;
    left: calc(50% - ($burger-height / 2));
    display: block;
    outline: none;
    height: $burger-height / 2;
    width: $burger-height;
    border: 0px;
    padding: 0px;
    background: transparent;
    cursor: pointer;
}

.burger:before,
.burger:after {
    content: '';
    width: $burger-height;
    height: $border-width;
    position: absolute;
    background: $primary;
    transition: $transition-base;
    will-change: transform;
    top: 50%;
    left: 0;
}

.burger:before {
}

.burger:after {
    height: 1px;
}

.active {

    #burger-toggler-triggerer {
        .label {
            transition: $transition-base;
            opacity: 0;
            transform: translateY($burger-height) translateX(-50%);
            & + .label {
                opacity: 1;
            }
        }
    }

    .burger {
        height: $burger-height;
        &:before,&:after {
            background: $white;
        }
    }

    .burger:before {
        transform: translateY(0) rotate(45deg);
    }
    
    .burger:after {
        transform: translateY(0) rotate(-45deg);
    }
}
