.search-module {

    .search-btn-text-option-2 {
        display: none;
    }

    .mgo-filter {

        .mgo-filter-wrapper {

            $dimension: $spacer * 1.5;


            position: relative;

            .dynamic-label {
                padding: $dimension;
                display: block;
                position: relative;
                z-index: 3;

                &.thin {
                    padding: $dimension $dimension 0 $dimension;
                }
            }

            .btn-group-toggle-wrapper {
                padding: 6px $dimension $dimension $dimension;
            }

            &.has-filters {
                .dynamic-label {
                    cursor: pointer;

                    &:after {
                        transition: $transition-base;
                        content: '';
                        height: $dimension * 1.25;
                        width: $dimension * 1.25;
                        border-left: 3.5px solid $primary;
                        border-top: 1.5px solid $primary;
                        position: absolute;
                        top: calc($dimension*1.25 - 4px);
                        right: $dimension / 2;
                        transform-origin: center;
                        transform: rotate(-135deg) translateX(50%);
                        z-index: 2;
                    }
                }
            }

            .input-simple {
                display: block;
                width: 100%;
                text-align: right;
            }

            .filters {
                display: none;

                position: absolute;
                width: 100%;
                left: 0;
                top: calc(100% + $spacer*1.5);
                z-index: 4;

                // margin-top: $dimension;
                // margin-left: -$dimension;
                // margin-right: -$dimension;

                padding: $dimension;
                background-color: $white;
                border-radius: $border-radius-lg;

                .filters-inner-wrapper {
                    overflow-y: scroll;
                    max-height: 205px;
                    padding-top: 1.5px;
                }

                .filter-item {
                    height: $spacer*3;
                }
            }

            &.active {
                &.has-filters .filters {
                    display: block;
                }

                &.has-filters {
                    .dynamic-label {
                        &:after {
                            top: $dimension * 1.75;
                            border-top: none;
                            border-left: none;
                            border-bottom: 1.5px solid $primary;
                            border-right: 3.5px solid $primary;
                        }
                    }
                }
            }
        }

    }

    /* responsive separation dotted lines */

    @mixin dotted-line {
        background-image: linear-gradient(to right, $primary 33%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 4px 1.5px;
        background-repeat: repeat-x;
        width: 100%;
        height: 1px;
        content: '';
    }

    .mgo-filter .mgo-filter-wrapper:before {
        // top dotted line
        @include dotted-line();
        position: absolute;
        top: 0;
    }

    .row:last-of-type .col-12:last-of-type .mgo-filter {
        &:last-of-type {
            .mgo-filter-wrapper:after {
                // bottom dotted line
                @include dotted-line();
                position: absolute;
                bottom: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .row:last-of-type .mgo-filter .mgo-filter-wrapper:after {
            // bottom dotted line
            @include dotted-line();
            position: absolute;
            bottom: 0;
        }

        .mgo-filter+.mgo-filter .mgo-filter-wrapper:before {
            background-image: none;
        }
    }

    &.has-advanced-filters {

        .search-btn-text-option-1 {
            display: none;
        }

        .search-btn-text-option-2 {
            display: inline;
        }

        .btn-outline-advanced-filter {
            border: 1px solid $primary;

            &:hover,
            &.active {
                border: 1px solid $white;
                background-color: $white;
            }
        }

        .btn-override {
            &:hover {
                background-color: $white !important;
                border-color: $white;
                color: $primary;
            }
        }

        .input-simple {
            color: $white;
        }

        .input-simple::placeholder {
            color: $white;
            opacity: 1;
        }

        .custom-double-switch .custom-control-label,
        .custom-double-switch .custom-control-input:checked+.pre-label {
            color: $white;
        }

        .custom-double-switch .custom-control-label::before,
        .custom-double-switch .custom-control-input:checked~.custom-control-label::before {
            background-color: $primary;
        }
    }

}