#navigation-wrapper {
    position: fixed;
    z-index: 5;
    width: 100%;
}

#navigation {

    transition: $transition-base;

    width: 100%;
    $height: $logo-height + $navigation-spacing;

    background-color: $white;

    #navigation-header {
        position: relative;
        padding-top: $navigation-spacing/2;
        padding-bottom: $navigation-spacing/2;
    }

    #navigation-contents {
        transition: $transition-base;
        opacity: .5;
        height: 0;
        overflow: hidden;
        ul {
            margin-top: -$height;
            li {
                a {
                    font-size: $font-size-base * 2;
                    letter-spacing: -.05em;
                    color: $white;
                }
            }
        }
    }

    #navigation-extra {
        transition: $transition-base;
        position: absolute;
        width: 100%;
        bottom: 0;
        opacity: 0;
    }


    #logo {
        transition: $transition-base;
        margin: 0 auto;
        height: $logo-height;
        display: block;
    }

    &.active {
        background-color: $primary;
        #navigation-contents {
            opacity: 1;
            $height: $height;
            height: calc(100vh - $height);
        }

        #navigation-extra {
            opacity: 1;
        }

        #logo {
            filter: invert(100%) brightness(200%);
        }
    }
}