#social-float {
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
    z-index: 10;
    margin: 0 auto;
    transform: translateX(-50%);

    &.navigation-active:not(.fullsearch-active) {
        .social-circle {
            background-color: $white;
            .icon {
                svg {
                    path {
                        stroke: $primary;
                    }
                }
            }
            &:hover {
                background-color: $secondary;
                .icon {
                    svg {
                        path {
                            stroke: $white;
                        }
                    }
                }
            }
        }
    }
}

.social-circle {
    color: $white;
    display: inline-block;
    height: $spacer * 5;
    width: $spacer * 5;
    background-color: $primary;
    border-radius: $spacer * 5;

    transition: $transition-base;

    &:hover {
        background-color: $secondary;
        .icon {
            svg {
                path {
                    stroke: white;
                }
            }
        }
    }

    .icon {
        margin: 0 auto;

        svg {
            margin-left: 25%;
            margin-top: 25%;
            width: 50%;
            height: 50%;

            path {
                stroke: white;
                stroke-width: 1.5;
            }
        }
    }

    &-big {
        @include media-breakpoint-up(lg) {

            height: $spacer * 8;
            width: $spacer * 8;
            border-radius: $spacer * 8;

            .icon {
                svg {
                    margin-left: 35%;
                    margin-top: 35%;
                    width: 30%;
                    height: 30%;
                }
            }
        }
    }

}


.person .social-circle {
    transform: translateY(-50%);
    display: block !important;
    margin: 0 auto;
}