.icon {
    display: flex;
    svg {
        display: block;
        height: 18px;
        width: 18px;
        path {
            transition: all 200ms ease-in-out;
            fill: none;
            stroke: $black;
            stroke-width: 2;
        }
    }
    span {
        display: block;
        margin-top: 1px;
        margin-left: 7px;
    }
}

.btn-outline-primary {
    .icon {
        svg {
            path {
                stroke: $primary;
            }
        }
    }
}

.icon.value {
    svg {
        margin: 0 auto;
        height: 58px;
        width: 58px;
        path {
            fill: none;
            stroke: $white;
            stroke-width: 2;
        }
    }
}