.bg-dev {
    background-color: rgba(255, 0, 0, 0.25) !important;
}

.bg-image {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

